body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #101820;
    line-height: 1.5;
}

.wrap {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.panel {
    background: #101820;
}

.panel a {
    color: #fff;
}
