/*
Global Styles
======================================
*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #101820;
  line-height: 1.5;
  color: #101820;
}

/*
Icon Font
======================================
*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
}

@font-face {
  font-family: 'icomoon';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg6v8y4AAAC8AAAAYGNtYXDL9RqdAAABHAAAADxnYXNwAAAAEAAAAVgAAAAIZ2x5ZuOHsjwAAAFgAAAFRGhlYWQAT175AAAGpAAAADZoaGVhB8IDyAAABtwAAAAkaG10eBYAAFIAAAcAAAAAHGxvY2ED9gUSAAAHHAAAABBtYXhwAAwA/AAABywAAAAgbmFtZUQXtNYAAAdMAAABOXBvc3QAAwAAAAAIiAAAACAAAwQAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAACDmBAPA/8D/wAPAAEAAAAAAAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEACgAAAAGAAQAAQACACDmBP//AAAAIOYA////4RoCAAEAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAQAAAAABAADQAAUADkATgBTAAABFB4CMzI+AjU0LgIjIg4CFQEjLgMjISIOAgcjIg4CFREUHgIzITI+AjURNC4CIwEiLgI1ND4CMzIeAhUUDgIjASM1MxUBMCE4TCsrTDghIThMKytMOCECkOAGDRUfGP8AGB8VDQbgDRcRCgoRFw0DgA0XEQoKERcN/kA7Z00tLU1nOztnTS0tTWc7AcCAgAFgK0w4ISE4TCsrTDghIThMKwFgGC4kFhYkLhgKERcN/cANFxEKChEXDQJADRcRCv2ELU1nOztnTS0tTWc7O2dNLQG8QEAAAAAAAgAA/8AEAAPAABQA+QAAASIOAhUUHgIzMj4CNTQuAiMBDgMHDgMHNTQuAic+Azc+Azc+Azc+Azc+Azc+Azc+AzU0LgInPgEuAS8BIg4CBw4DBy4DIyIOAgcuAycuAycuAyMqAyMqAzEOAhYXDgMVFB4CFx4DFx4DFx4DFx4DFx4DFx4DFw4DHQEuAycuAycuAycuAzU0PgI3PgM3PgM3PgMzMh4CFx4DFx4DFx4DFRQOAgcOAwcCAGq7i1BQi7tqaruLUFCLu2oBMA8gIiQTBQoKCgUFChAKBwwMCwUFCwwMBgYLCwoFBQkJCQQECAcHAwMFBQQCAgMCAQYNEw0GBQEIBwwDCQwOCAgSExQKDx4fHxAQHx8eDwcNDQwGBgsJCAQEBwcGAwMFBAMBAQIBAQcIAQUGDRMNBgECAwICBAUFAwMHBwgEBAkJCQUFCgsLBgYMDAsFBQsMDAcKDwoFBgsLCwUTJCIgDw8aFxQICA0IBAQIDQgIFBcaDw8gIiQTFCkqKxYWKyopFBMkIiAPDxoXFAgIDQgEBAgNCAgUFxoPA8BQi7tqaruLUFCLu2pqu4tQ/NAPGhcUCAIEBAMCTQ8aFhIHAQECAgEBAwMEAgIFBQUDAwcICAUFCgsLBgYNDg8ICBESEwoTJCEeDg8fISISAQEDBQMDCAoMBwQGBAICBAYEBAgHBwMDBQQDAQECAQESIiEfDw4eISQTChMSEQgIDw4NBgYLCwoFBQgIBwMDBQUFAgIEAwMBAQICAQEHEhYaD04CBAQEAggUFxoPDyAiJBMUKSorFhYrKikUEyQiIA8PGhcUCAgNCAQECA0ICBQXGg8PICIkExQpKisWFisqKRQTJCIgDwAAAAIAAP/ABAADgAAGABIAAAkBIxEjESMFBw0BLQEnBREFJRECAAEAwIDAAelIAQT+W/5bAQRI/ukCAAIAAYABAAEA/wCXSGGdnWFIaf8AwMABAAAAAAIAQP/AA8ADwAAdACEAAAERISIuAjU0PgIzIREhIg4CFREUHgIzIREjASEVIQOA/WAUIxoPDxojFAJg/YAaLyMUFCMvGgMAQP2AAkD9wANA/MAPGiMUFCMaDwMAFCMvGv0AGi8jFAOA/UBAAAIAEv/AA+4DwABCAFcAAAEuAT4BNycOAyMiLgI1IxQOAgcOAiYnBx4DFx4BDgEHFz4DMzIeAhUzND4CNz4CFhc3LgMnBSIuAjU0PgIzMh4CFRQOAiMDphQJFC4jZQsXGRoNKEc1H8kDBgoHFD5ITSNlCxQSEAcUCRMuI2ULFxgaDShHNR/JAwYKBxQ+SE0jZQsUEhAH/lorTDghIThMKytMOCEhOEwrAV4jTUg+FK4GCgcEHzVHKQ0ZGRgMIy4TCRSuBg8SFQwjTUg+FK4GCgcEHzVHKAwZGRgLIy4TCRSuBg8SFQxtIThMKytMOCEhOEwrK0w4IQAAAQAAAAEAAPWAPnxfDzz1AAsEAAAAAADOmA0+AAAAAM6YDT4AAP/ABAADwAAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAAEAAABAAAAAAAAAAAAAAAAAAAABwAAAAACAAAABAAAAAQAAAAEAAAABAAAQAQAABIAAAAAAAoAgAHGAfACJgKiAAEAAAAHAPoABAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAOAAAAAQAAAAAAAgAOAEcAAQAAAAAAAwAOACQAAQAAAAAABAAOAFUAAQAAAAAABQAWAA4AAQAAAAAABgAHADIAAQAAAAAACgAoAGMAAwABBAkAAQAOAAAAAwABBAkAAgAOAEcAAwABBAkAAwAOACQAAwABBAkABAAOAFUAAwABBAkABQAWAA4AAwABBAkABgAOADkAAwABBAkACgAoAGMAaQBjAG8AbQBvAG8AbgBWAGUAcgBzAGkAbwBuACAAMAAuADAAaQBjAG8AbQBvAG8Abmljb21vb24AaQBjAG8AbQBvAG8AbgBSAGUAZwB1AGwAYQByAGkAYwBvAG0AbwBvAG4ARwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format('truetype'),
     url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAj0AAsAAAAACKgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDq/zLmNtYXAAAAFoAAAAPAAAADzL9RqdZ2FzcAAAAaQAAAAIAAAACAAAABBnbHlmAAABrAAABUQAAAVE44eyPGhlYWQAAAbwAAAANgAAADYAT175aGhlYQAABygAAAAkAAAAJAfCA8hobXR4AAAHTAAAABwAAAAcFgAAUmxvY2EAAAdoAAAAEAAAABAD9gUSbWF4cAAAB3gAAAAgAAAAIAAMAPxuYW1lAAAHmAAAATkAAAE5RBe01nBvc3QAAAjUAAAAIAAAACAAAwAAAAMEAAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAg5gQDwP/A/8ADwABAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAAoAAAABgAEAAEAAgAg5gT//wAAACDmAP///+EaAgABAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAAEAAAAAAQAA0AAFAA5AE4AUwAAARQeAjMyPgI1NC4CIyIOAhUBIy4DIyEiDgIHIyIOAhURFB4CMyEyPgI1ETQuAiMBIi4CNTQ+AjMyHgIVFA4CIwEjNTMVATAhOEwrK0w4ISE4TCsrTDghApDgBg0VHxj/ABgfFQ0G4A0XEQoKERcNA4ANFxEKChEXDf5AO2dNLS1NZzs7Z00tLU1nOwHAgIABYCtMOCEhOEwrK0w4ISE4TCsBYBguJBYWJC4YChEXDf3ADRcRCgoRFw0CQA0XEQr9hC1NZzs7Z00tLU1nOztnTS0BvEBAAAAAAAIAAP/ABAADwAAUAPkAAAEiDgIVFB4CMzI+AjU0LgIjAQ4DBw4DBzU0LgInPgM3PgM3PgM3PgM3PgM3PgM3PgM1NC4CJz4BLgEvASIOAgcOAwcuAyMiDgIHLgMnLgMnLgMjKgMjKgMxDgIWFw4DFRQeAhceAxceAxceAxceAxceAxceAxcOAx0BLgMnLgMnLgMnLgM1ND4CNz4DNz4DNz4DMzIeAhceAxceAxceAxUUDgIHDgMHAgBqu4tQUIu7amq7i1BQi7tqATAPICIkEwUKCgoFBQoQCgcMDAsFBQsMDAYGCwsKBQUJCQkEBAgHBwMDBQUEAgIDAgEGDRMNBgUBCAcMAwkMDggIEhMUCg8eHx8QEB8fHg8HDQ0MBgYLCQgEBAcHBgMDBQQDAQECAQEHCAEFBg0TDQYBAgMCAgQFBQMDBwcIBAQJCQkFBQoLCwYGDAwLBQULDAwHCg8KBQYLCwsFEyQiIA8PGhcUCAgNCAQECA0ICBQXGg8PICIkExQpKisWFisqKRQTJCIgDw8aFxQICA0IBAQIDQgIFBcaDwPAUIu7amq7i1BQi7tqaruLUPzQDxoXFAgCBAQDAk0PGhYSBwEBAgIBAQMDBAICBQUFAwMHCAgFBQoLCwYGDQ4PCAgREhMKEyQhHg4PHyEiEgEBAwUDAwgKDAcEBgQCAgQGBAQIBwcDAwUEAwEBAgEBEiIhHw8OHiEkEwoTEhEICA8ODQYGCwsKBQUICAcDAwUFBQICBAMDAQECAgEBBxIWGg9OAgQEBAIIFBcaDw8gIiQTFCkqKxYWKyopFBMkIiAPDxoXFAgIDQgEBAgNCAgUFxoPDyAiJBMUKSorFhYrKikUEyQiIA8AAAACAAD/wAQAA4AABgASAAAJASMRIxEjBQcNAS0BJwURBSURAgABAMCAwAHpSAEE/lv+WwEESP7pAgACAAGAAQABAP8Al0hhnZ1hSGn/AMDAAQAAAAACAED/wAPAA8AAHQAhAAABESEiLgI1ND4CMyERISIOAhURFB4CMyERIwEhFSEDgP1gFCMaDw8aIxQCYP2AGi8jFBQjLxoDAED9gAJA/cADQPzADxojFBQjGg8DABQjLxr9ABovIxQDgP1AQAACABL/wAPuA8AAQgBXAAABLgE+ATcnDgMjIi4CNSMUDgIHDgImJwceAxceAQ4BBxc+AzMyHgIVMzQ+Ajc+AhYXNy4DJwUiLgI1ND4CMzIeAhUUDgIjA6YUCRQuI2ULFxkaDShHNR/JAwYKBxQ+SE0jZQsUEhAHFAkTLiNlCxcYGg0oRzUfyQMGCgcUPkhNI2ULFBIQB/5aK0w4ISE4TCsrTDghIThMKwFeI01IPhSuBgoHBB81RykNGRkYDCMuEwkUrgYPEhUMI01IPhSuBgoHBB81RygMGRkYCyMuEwkUrgYPEhUMbSE4TCsrTDghIThMKytMOCEAAAEAAAABAAD1gD58Xw889QALBAAAAAAAzpgNPgAAAADOmA0+AAD/wAQAA8AAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAAAABAAAAQAAAAAAAAAAAAAAAAAAAAcAAAAAAgAAAAQAAAAEAAAABAAAAAQAAEAEAAASAAAAAAAKAIABxgHwAiYCogABAAAABwD6AAQAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADgAAAAEAAAAAAAIADgBHAAEAAAAAAAMADgAkAAEAAAAAAAQADgBVAAEAAAAAAAUAFgAOAAEAAAAAAAYABwAyAAEAAAAAAAoAKABjAAMAAQQJAAEADgAAAAMAAQQJAAIADgBHAAMAAQQJAAMADgAkAAMAAQQJAAQADgBVAAMAAQQJAAUAFgAOAAMAAQQJAAYADgA5AAMAAQQJAAoAKABjAGkAYwBvAG0AbwBvAG4AVgBlAHIAcwBpAG8AbgAgADAALgAwAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBvAG4AUgBlAGcAdQBsAGEAcgBpAGMAbwBtAG8AbwBuAEcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('woff');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e601";
}
.icon-download:before {
  content: "\e602";
}
.icon-book:before {
  content: "\e603";
}
.icon-cog:before {
  content: "\e604";
}

/*
Layout
======================================
*/

.wrap {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/*
Typography
======================================
*/

h1 {
  text-align: center;
  font-size: 4em;
  margin: 0;
  line-height: 1;
}

h2 {
  font-size: 2em;
  margin: 1.2em 0 0 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.2s ease;
}

a:link,
a:visited {
  color: #25B89A;
}

a:hover,
a:active {
  color: #16a085;
}

img {
  display: block;
  margin: 0 auto;
  padding: 1em 0;
}

/*
code
-----------------------------------
*/

pre {
  background-color: #ECF0F1;
  padding: 1em;
  font-size: .875em;
}

/*
table
-------------------------------------
*/

table {
  text-align: left;
  border: 1px solid #95A5A6;
  margin-top: 1em;
  max-width: 100%;
}

td,
th {
  padding: .5em 1em;
}

th {
  background: #2C3E50;
  color: #fff;
}

td {
  border: 1px solid #BDC3C7;
}

tr:nth-of-type(2n) {
  background: #ECF0F1;
}

/*
Masthead
======================================
*/

.masthead {
  background: #34495D;
  color: #fff;
  position: relative;
}

.menu-link {
  position: absolute;
  font-size: 1.5em;
}

.menu-link:link,
.menu-link:visited {
  color: #fff;
  background: rgba(0, 0, 0, .4);
  border-radius: 4px;
  padding: .2em .4em;
}

.menu-link:hover,
.menu-link:active {
  color: #25B89A;
  background: rgba(0, 0, 0, .6);
}

.subtitle {
  text-align: center;
  font-size: 1.125em;
  margin: .5em 0;
}

.btn-list {
  margin: 3em 0;
  text-align: center;
}

.btn-list li {
  display: inline-block;
}

.btn-list li:first-of-type {
  margin-right: 1em;
}

.btn {
  padding: 1em .5em;
  text-align: center;
  border-radius: 6px;
}

.btn:link,
.btn:visited {
  background: #25B89A;
  color: #fff;
}

.btn:hover,
.btn:active {
  background: #16a085;
}

/*
Nav Panel
======================================
*/

.panel {
  background: #2C3E50;
  z-index: 9999;
  position: fixed;
  left: -15.625em; /*or width of your navigation panel*/
  width: 15.625em; /*should match the above value*/
}

.panel ul {
  border-top: 2px solid #34495D;
}

.panel a {
  display: block;
  border-bottom: 2px solid #34495D;
  padding: 1em;
}

.panel a:link,
.panel a:visited {
  color: #fff;
}

.panel a:hover,
.panel a:active {
  background: #25B89A;
}

.nav-icon {
  margin-right: 6px;
}

/*
code
-----------------------------------
*/

pre {
  background-color: #ECF0F1;
  padding: 1em;
  font-size: .875em;
}

/*
footer
-------------------------------------
*/

footer {
  margin-top: 4em;
  padding: 2em 0;
  font-size: .75em;
  border-top: 1px solid #BDC3C7;
}

footer p {
  line-height: 1.1;
}

.credits {
  width: 65%;
  float: left;
}

.footer-links {
  width: 30%;
  float: right;
  text-align: right;
  font-size: 3em;
}

.footer-links a:link,
.footer-links a:visited {
  color: #BDC3C7;
}

.footer-links a:hover,
.footer-links a:active {
  color: #95A5A6;
}

/*
Helper Classes
-----------------------------------
*/

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/*
Small Screens
-----------------------------------
*/

@media only screen and (max-width: 31.25em) {
    body {
      font-size: .875em;
    }

    h1 {
      margin-top: 1em;
    }

    code,
    pre {
      overflow-y: scroll;
    }

    .btn-list li {
      font-size: .75em;
    }

    .btn-list li:first-of-type {
      margin-right: .2em;
    }

    table {
      font-size: .75em;
    }

}